# web
web/.DS_Store
web/node_modules

web/screenshots
web/dist
web/dist.zip
web/dist_electron
web/package-lock.json
web/yarn.lock

# local env files
web/.env.local
web/.env.*.local

# Log files
web/npm-debug.log*
web/yarn-debug.log*
web/yarn-error.log*
web/pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
web//components.d.ts


# server
.buildpath
.hgignore.swp
.project
.orig
.swp
.idea/
.settings/
.vscode/
vendor/
composer.lock
pkg/
cbuild
**/.DS_Store
/test/
server/main
server/output/
server/manifest/config/config.yaml
server/manifest/output/
server/resource/log/
server/resource/public/admin/
server/resource/public/attachment/
server/storage/cache/
server/storage/diskqueue/
server/storage/cert/ssl/server.crt
server/storage/cert/ssl/server.key
server/storage/cert/pay/alipay/
server/storage/cert/pay/wxpay/
server/temp/
main.exe
main.exe~
*.exe
*.log
*.zip
.idea
!hotgo/
*.lock
/bin/package.sh
server/logs